<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= image_tag(@category.name.url, :width => 600) if @category.name %>
</p>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
